.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photography-site {
  font-family: Arial, sans-serif;
  color: #b375f1;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.landing-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.header-image {
  width: 10px;
  height: 10px;
}
img{
  width: 25%;
  
}
.header-title {
  font-size: 48px;
  font-style: italic;
  margin-top: 20px;
}

.content-description {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.content-button {
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.images-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.section-title {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 50px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.gallery-image {
  width: 100%;
  height: auto;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-contact {
  font-size: 18px;
  margin: 0;
}
